.LoginAppContainer {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.LoginAppSubContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 130px;
  border-radius: 15px;
  width: 50vw;
  background-image: linear-gradient(to bottom, #2b2c49, #b5b9ff);
  background-size: cover;
}
